.page-content{
    background-image: url('../img/Login-Background.jpg');
    background-size: cover;
    height: 100vh;
}

.login-card {
    margin-top: 15vh;
}
.loginknop{
    margin-top: 10px;
}

