body {

}

.main {

}



.footer {

}

.main > div {

}

.nav{
    background-color: lightgrey;
    justify-content: center;
    height: 4rem;

}

.Search{
    padding-top: 15px;
}

.ul{
    padding-top: 10px;
}

.navbar-brand{
    padding-top: 13px;
}

.login-box {
    width: 300px;
    position: absolute;
    top: 35%;
    left: 35%;

}