/* Navbar */
.nav {
	background-color: lightgrey;
	justify-content: center;
	height: 4rem;
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-brand {
	padding-top: 13px;
}

.nav-logo {
	position: relative;
	height: 100%;
}

.Search {
	padding-top: 15px;
}

/* Sidebar */
.sidebar {
	padding: 50px 0;
	border: dashed red;
}

.sidebar-title {
	text-align: center;
}

.categories:first-child {
	border-top: 1px solid lightgrey;
}

.productgroup {
	margin: 10px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid lightgrey;
}

.ul {
	padding-top: 10px;
}

/* Page */
.page-content {
	background-color: lightgrey;
	border: dashed blue;
}
